/* Estilo para o cabeçalho */
header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* Estilo para o título principal */
h1 {
  font-size: 24px;
  color: #333;
}

/* Estilo para a lista de ganhadores */
ul {
  list-style-type: none;
  padding: 0;
}

/* Estilo para os itens da lista */
li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

/* Estilo para os links */
a {
  text-decoration: none;
  color: #0074d9;
}

/* Estilo para os links quando hover */
a:hover {
  text-decoration: underline;
}

